:root {
	--primary-color:#76201f ;
	--secondary-color: rgb(0, 0, 0);
	--thirdary-color: white;
	--mainfont:font-family: Arial, Helvetica, sans-serif;
}

body {

}

/*Smallest main nav*/
.small-columns, .big-columns {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5%;
	list-style-type: none;
	a{text-decoration: none;}
	.big-columns{gap: 2%;} /* Make sure it put with lager computer*/
}

#small-header {
	background: var(--secondary-color);
	padding: 0.4%;
}

#small-nav ul{
	padding: 2%;
}

#small-nav a{
	color: white;
	display: block;
	font-size: 13px;
	display:inline;
}

/*Big main nav*/
#big-header {
	background: var(--secondary-color);
	width: 100%;
	margin-top: -3%; 
}

.big-columns {
	li{text-align: right;}
}

#big-section {
	background: var(--primary-color);
	width: 100%;
	text-align: right; /*Need to fix this*/
	a{color: white;}
}

#showcase { /*Fix the flex*/
    position:relative;
	display: flex;
	flex-wrap: wrap;
}

#showcase p {
	background:rgba(255, 255, 255, 0.637);
    color:var(--primary-color);
    padding:8px;
    width: 50%;
	text-align: right;
	font-size: 200%;


    position:absolute;
    bottom:15%;
    left:3%;
}

/*topMid */

#topMid-p p{
	/*Make sure to fix the paddning and get white background*/
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -1%;
	font-size: 140%;

	position:relative;
	left: 24%;
}

#topMid-section p{
	display: flex;
	flex-wrap: wrap;
	width: 50%;
}

/*Split-section*/
.split-section {
	display: flex;
	flex-direction: column;
	margin-top: 3%;
}

.flex-item-left, .flex-item-left2 {
	flex: 1;
	display: flex;
	flex-direction: column;
    background-color: var(--primary-color);
    color: var(--thirdary-color);
	padding: 60%;
	justify-content: center;
}

.flex-item-left p {
	margin-top: -2%;
}

#broad {
	display: flex;
	flex-wrap: wrap;
	font-size: 100%;
	color: var(--thirdary-color);
	width: 28%;
	
	border: 2px solid var(--thirdary-color);
	background: var(--secondary-color);

	position:relative;
	bottom: -10%;
}

.flex-item-right{
	flex: 1;
	flex-wrap: wrap;
    background-color: var(--primary-color);
    color: var(--thirdary-color);
    padding: 60px;

}

.flex-item-right, img{
	flex: 1;
	flex-wrap: wrap;
    background-color: var(--primary-color);
    color: var(--thirdary-color);
    padding: 60px;

	height: 100%; 
	width: 100%
}


#Mid {
	background: pink;
}

#bottom-Mid h2{
	color: var(--primary-color);
	text-align: center;
}

#bottom-Mid p{
	text-align: center;
}

#programs {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#programs p{
	flex: 1;
	width: 30%;
	font-size: 125%;
	color: var(--thirdary-color);
	border: 2px solid var(--thirdary-color);
	background: var(--primary-color);
	padding: 15px 25px;
	width: 100%;
    max-width: 210px;
}

#cricle
{
	clip-path: circle(30%);

	height: 50%;
	width: 100%;/*Fix this*/
}

.quotes p{
	text-align: left;
	font-size: 200%;
	margin-left: -30%;
}

.small-quotes p{
	text-align: left;
	font-size: 100%;
	margin-left: -30%;
}

#broad2-0 {
	padding-top: 40%;
}

#broad2 {
	background:var(--secondary-color);
    color:var(--thirdary-color);
    padding:15px;
    width: 50%;
	text-align: right;
	font-size: 100%;


    position:relative;
    left: 47%;
}

#broad2 h2, p{
	text-align: left;
}

#mimi-broad2 {
	display: flex;
	flex-wrap: wrap;
	font-size: 100%;
	color: var(--thirdary-color);
	width: 32%;
	
	border: 2px solid var(--thirdary-color);
	background: var(--primary-color);

	position:relative;
	bottom: -10%;
}

.flex-item-left2 {
	flex: 1;
	display: flex;
	flex-direction: column;
    background-color:#1e434f;
    color: var(--thirdary-color);
	padding: 6%;
	justify-content: center;
}

 .flex-item-right2 {
	flex: 1;
	flex-wrap: wrap;
    background-color: #1e434f;
    color: var(--thirdary-color);
    padding: 30px;
 }

  .flex-item-right2, img{
	flex: 1;
	flex-wrap: wrap;
    background-color: #1e434f;
    color: var(--thirdary-color);
    padding: 30px;

	height: 100%; 
	width: 100%;
 }

 .flex-item-left3 {
	flex: 1;
	display: flex;
	flex-direction: column;
    background-color: var(--secondary-color);
    color: var(--thirdary-color);
	padding: 6%;
	justify-content: center;
}

 .flex-item-right3 {
	flex: 1;
	flex-wrap: wrap;
    background-color: var(--secondary-color);
    color: var(--thirdary-color);
    padding: 30px;
 }

  .flex-item-right3 img{
	flex: 1;
	flex-wrap: wrap;
    background-color: var(--secondary-color);
    color: var(--thirdary-color);
    padding: 30px;

	width: 90%;
	height: 90%;
 }


/* Typography */
h1 {
	color: var(--thirdary-color); 
	font-size: 210%;
}

h2 {
	color: var(--thirdary-color); 
	font-size: 290%;
}

/* Larger devices */
@media only screen and (min-width: 768px) {

	#content { /* Change the name */
		margin-left: -0.6%;
		min-width: 102%;
		margin-top: -3%;
	}

	#small-nav ul{
		flex-direction: row;
	}
	
	#small-nav li:not(:last-child)::after { /* Fix the "|" - come back*/
        content:"|";
        display:inline;
		color: white;
    }

	#big-header {
		flex-direction: row;
		flex: 2;
	}

	.big-columns {
		gap: 47%;
	}

	.split-section {
        flex-direction: row;
    }
            
    .flex-item-left {
        padding: 40px 30px;
    }

}