body {

	background-color: rgb(252, 247, 183);
	background-image: linear-gradient(to bottom left, rgb(160, 234, 236), rgb(250, 177, 244))
}

#content {
	width: 70%;
	margin: auto;
	h1{border: 2px solid rgb(204, 126, 235); background: rgb(204, 126, 235); padding: 2%; text-align: center;}
}

.container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 14px;
}

.group {
	padding: 3%;
    background: rgb(198, 159, 226);
    border-radius: 3%;
    transition: background-color 0.3s ease;
    width: 25%;
}

.group img{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

#main-header {
    padding: 5px;
    text-align: center;
}

.group:hover {
    background-color: rgb(204, 126, 235);
}

#seperate {
	width: 10%;
	justify-content: space-around;
	padding: 4%;
}

#footer a{
    justify-content: space-between;
    text-decoration: none;
}

#main-header h3{
    text-align:left;
}

h1, h2 {
	color: rgb(198, 159, 226);
}


@media(max-width:768px) 
{
	#content {
		padding: 0%;
	}
    .container {
        display: flex;
        flex-direction: column;
		padding: 0%;
		width: 285%;
    }
}