/* Structures */
body {

}

#content {
	width: 95%;
	margin: auto;
	border-radius: 5px;
	padding: 5px;
}

#main-header {
	color: rgb(69, 163, 175);
	border-radius: 5px;
	padding: 5px;
	.columns {background: rgb(182, 229, 160);}
}

/* Columns */
.columns {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	border-right: 5px;
}

#art-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;
	.art one {width: 200px; float: right;}
}

/* Main Navigation */
#main-nav ul {
	list-style-type: none; /* remove the bullets*/
	padding-left: 0%;
}

#main-nav li {

	border-right : 5px solid rgb(207, 81, 81);
	padding: 5px;
}

#main-nav a {
	color:rgb(0, 0, 0);
	padding: 10px 5px;
	display: block;
	text-decoration: none; /*remove the under lines*/
}



/* Typography */
h1 {
	text-align: center;
}

@media (in-width:768px) {
    #content {
        width: 70%;
        margin-left: 7%;
    }

	#art-list {
		display: flex;
        flex-direction: column;
		flex-shrink: calc(images);
	}

	/* Columns */
	.columns {
		display: flex;
	}

	.one {
        flex:1;
    }

	.two {
        flex:2;
    }

	.three {
        flex:3;
    }

}