body {
    background: #8C9E3B;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    width: 95%;
    margin: auto;
    background: rgba(141, 245, 219, 0.753);
    border-radius: 5px;
    padding: 5px;
}

#main-header {
    background: #CADD5F;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

/* Main Navigation */
#main-nav ul {
    list-style-type: none; /* remove the bullets*/
    padding-left: 0;
}

#main-nav li {
    border-bottom: 1px solid white;
    padding: 10px 0;
}

#main-nav li:first-child {
    border-top: 1px solid white;
}

#main-nav a {
    color: white;
    padding: 10px 5px;
    display: block;
    text-decoration: none; /* remove text underline*/
}

#main-nav a:hover {
    background: white;
    color:#8C9E3B;
}

/* Typography */
h1 {
    text-align: center;
}

/* Larger devices*/
@media only screen and (min-width: 768px) {
    body {
        background: url(images/tree.jpg);
        background-size: cover;
    }

    #content {
        width: 70%;
    }

    /*Columns */
    .columns {
        display: flex;
    }

    /* Main Nav*/

    #main-nav li {
        flex:1;
    }

    #main-nav li, #main-nav li:first-child {
        border: none;
    }

    #main-nav a {
        padding: 5px;
    }
    

    #main-nav a:hover {
        background: #2D3A0C;
        color: white;
        border-bottom: 1px solid white;
    }
}
